body {
    background-color: rgb(196, 182, 182); 
    font-family: Arial, sans-serif;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 120px  auto;
   
}

header {
    margin-bottom: 40px;
}


h1 {
    text-align: center;
    line-height: 1.5;
    font-weight: 800;
    font-size: 36px;
    color: #333333;
}



form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px  20px  60px rgba(65,  50,  100,  0.08);
    margin-bottom: 30px;
}

.instructions {
    width: 80%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.submit-button {
    margin-left: 20px;
    padding: 14px 24px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
}

.workout-output {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
    border-left: 4px solid #4CAF50;
}
footer {
    text-align: center;
    font-size: 14px;
    color: #795c5c;
    margin-top: 40px;
}